{% extends 'TaskPlannerBundle::taskbase.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/editCat.css')}}">{% endblock %}

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url('user_index')}}">Task Planner</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="btn btn-default" href="{{ url('taskList')}}" >YOUR TASKS</a></li>
        <li><a  class="btn btn-default" href="{{ url('main')}}">Add Tasks and Categories</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-default" href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="table1">
    <div class="table2">
        <table class="table table-hover table-bordered">
                <tr>
                    <th>Id:</th>
                    <th>Name:</th>
                    <th>Edit</th>
                    <th>Delete:<br><span>(Use with care -deleting category will delete all category tasks!!!)</span></th>
                </tr>
            {% for cat in categories%}
                <tr class="bg-info">
                    <td>{{ loop.index }}</td>
                    <td><strong>{{ cat.name }}</strong></td>
                    <td><a class="btn btn-default" href="{{ url('editCatNext', {'id':cat.id})}}">Edit</a></td>
                    <td><a class="btn btn-default" href="{{ url('deleteCat', {'id':cat.id})}}">Delete</a></td>
                </tr>

            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
