{% extends 'TaskPlannerBundle::taskbase.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/tasklist.css')}}">{% endblock %}

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url('user_index')}}">Task Planner</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a  class="btn btn-lg btn-success" href="{{ url('main')}}">Add Tasks/Categories</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="tables">
    <div class="table1">
        <h2>Tasks To Do:</h2>

        <table class="table table-striped">
            <tr>
                <th>Number:</th>
                <th>Name:<br>(click to edit)</th>
                <th>Description:</th>
                <th>Category:</th>
                <th>Dead Line:<span class="glyphicon glyphicon-triangle-top"></span></th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
        {% for task in taskDate %}
            <tr class="warning">
                <td>{{ loop.index }}</td>
                <td><a href="{{ url('showTask', {'id':task.id})}}">{{ task.name }}</a></td>
                <td>{{ task.description | length > 50 ? task.description | slice(0,50)~'...':task.description}}</td>
                <td>{{ task.category.name}}</td>
                <td>{{ task.deadLine.date | date('Y-m-d')}}</td>
                <td><a href="{{ url('changeStatus', {'id':task.id})}}">Done!</a></td>
                <td><a href="{{ url('deleteTask', {'id':task.id})}}">Delete</a></td>
            </tr>

        {% endfor %}
        </table>
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="table2">
        <h2>Tasks Completed:</h2>

        <table class="table table-striped">
            <tr>
                <th>Number:</th>
                <th>Name:</th>
                <th>Description:</th>
                <th>Category:</th>
                <th>Dead Line:<span class="glyphicon glyphicon-triangle-top"></span></th>
                <th>Delete</th>
            </tr>
        {% for task in taskStatus %}
            <tr class="success">
                <td>{{ loop.index }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description | length > 50 ? task.description | slice(0,50)~'...':task.description}}</td>
                <td>{{ task.category.name}}</td>
                <td>{{ task.deadLine.date | date('Y-m-d')}}</td>
                <td><a href="{{ url('deleteTask', {'id':task.id})}}">Delete</a></td>
            </tr>

        {% endfor %}
        </table>
    </div>
</div>
<div class="containLast">
    <div class="last">
        <h2>Tasks Not Completed in Time:</h2>
        <table class="table table-striped">
            <tr>
                <th>Number:</th>
                <th>Name:</th>
                <th>Description:</th>
                <th>Category:</th>
                <th>Dead Line:<span class="glyphicon glyphicon-triangle-top"></span></th>
                <th>Delete</th>
            </tr>
        {% for task in tasks %}
            <tr class="danger">
                <td>{{ loop.index }}</td>
                <td><a href="{{ url('showTask', {'id':task.id})}}">{{ task.name }}</a></td>
                <td>{{ task.description | length > 50 ? task.description | slice(0,50)~'...':task.description}}</td>
                <td>{{ task.category.name}}</td>
                <td>{{ task.deadLine.date | date('Y-m-d')}}</td>
                <td><a href="{{ url('deleteTask', {'id':task.id})}}">Delete</a></td>
            </tr>

        {% endfor %}
        </table>
    </div>
</div>
    
{% endblock %}