{% extends "TaskPlannerBundle::taskbase.html.twig" %}

{% block title %}TaskPlannerBundle:Task:comment{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/comment.css')}}">{% endblock %}
{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url('user_index')}}">Task Planner</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="btn btn-default" href="{{ url('taskList')}}" >Task Manager</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="form1">
    <div class="form2">
    {{ form_start(form) }}
        <div class="form-signin">  
            <h4>Add Comment:</h4>
            <div >
                {{ form_widget(form.text, {'attr':{'class':'form-control'}}) }} 
            </div>
                {{ form_widget(form.save, {'attr':{'class':'btn btn-lg btn-primary btn-block'}}) }}
        </div>
    {{ form_end(form)}}
    </div>
</div>

<div class="table">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Comment</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{comment.text}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}